@import './../../scss/variables';

.initial {
    height: 100vh;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 140px;
    }

    &__footer {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}